<!DOCTYPE html>
<html lang=en>   
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/deque_choose.css" />
        <title>De-Que Choices</title>
    </head>

    <body>
        <a href="{{ url_for('input_restricted_deque_operations') }}"><div class="black-container">
            <div class="input-container">
                <image class="image-logo" src="/static/images/Input Restricted.png"></image>                    
                <div class="activity-name">De-Que</div>
                <div class="restrict-name">Input Restricted De-Que</div>
            </div>
        </div></a>
        <a href="{{ url_for('output_restricted_deque_operations') }}"><div class="black-container-2">
            <div class="output-container">
                <image class="image-logo-2" src="/static/images/Output Restricted.png"></image> 
                <div class="activity-name-2">De-Que</div>   
                <div class="restrict-name-2">Output Restricted De-Que</div>
            </div>
        </div></a>
    </body>
</html>