<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Activities Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>
    <a href="{{ url_for('homepage') }}"><img class="home-button" src="/static/images/home button.png"
            alt="Home Button"></a>
    <h1 class="name">Home Page</h1>

    <div class="container">
        <div class="left-sidebar-bg">
            <image class="library-image" src="/static/images/library.png"></image>
            <div class="library-text">Your Library</div>

            <div class="lab-art-container">
                <div class="selected-lab-art"><a href="#">Lab Activities</a></div>
                <div class="activities-text"><a href="{{ url_for('artist_homepage') }}">Artists</a></div>
            </div>
            <div class="left-container">
                <div class="vertical-container">
                    <div class="item">
                        <img class="image" src="/static/images/Linked List.png" alt="Linked List">
                        <a href="{{ url_for('linked_list') }}" class="activity">Linked List</a>
                    </div>
                    <div class="item">
                        <img class="image" src="/static/images/Stack.png" alt="Stack">
                        <a href="{{ url_for('stack') }}" class="activity">Stack</a>
                    </div>
                    <div class="item">
                        <img class="image" src="/static/images/Queue.png" alt="Queue">
                        <a href="{{ url_for('overall_choose') }}" class="activity">Queue</a>
                    </div>
                    <div class="item">
                        <img class="image" src="/static/images/Binary Tree.png" alt="Binary Tree">
                        <a href="{{ url_for('binary_tree') }}" class="activity">Binary Tree</a>
                    </div>
                    <div class="item">
                        <img class="image" src="/static/images/Graph.png" alt="Graph">
                        <a href="{{ url_for('graph') }}" class="activity">Graph</a>
                    </div>
                    <div class="item">
                        <img class="image" src="/static/images/Sorting.png" alt="Sorting">
                        <a href="{{ url_for('bubble_sort') }}" class="activity">Sorting</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="main-bg">
            <div class="banner">
                <img src="/static/images/cover.png" alt="CodeTunes Banner">
            </div>
            <!-- Tabs -->
            <div class="rectangles-container">
                <div class="rectangle">All</div>
                <a href="{{ url_for('homepage') }}"></a>
                <div class="selected-rectangle">Lab Activities</div></a>
                <a href="{{ url_for('artist_homepage') }}"></a>
                <div class="rectangle">Artists</div></a>
            </div>
            <!-- Lab Activities -->
            <div class="grid-container">
                <div class="grid-item-1">
                    <img src="/static/images/Linked List.png" alt="Linked List Logo" class="grid-logo"></img>
                    <span class="grid-item-text"><a href="{{ url_for('linked_list') }}">Linked List</a></span>
                </div>
                <div class="grid-item-2">
                    <img src="/static/images/Stack.png" alt="Stack Logo" class="grid-logo">
                    <span class="grid-item-text"><a href="{{ url_for('stack') }}">Stack</a></span>
                </div>
                <div class="grid-item-3">
                    <img src="/static/images/Input Restricted.png" alt="De-Que Logo" class="grid-logo">
                    <span class="grid-item-text"><a href="overall_choose">Input Restricted
                            De-Que</a></span>
                </div>
                <div class="grid-item-4">
                    <img src="/static/images/Output Restricted.png" alt="De-Que Logo" class="grid-logo">
                    <span class="grid-item-text"><a href="overall_choose">Output Restricted
                            De-Que</a></span>
                </div>
            </div>
            <!-- Heading 2 -->
            <h2 class="section-heading"> MADE FOR CODETUNES </h2>
            <!-- 1x4 Square Grid -->
            <div class="square-grid-container">
                <div class="square-grid-item-1">
                    <img src="/static/images/queue cover.png" alt="Graph" />
                    <span><a href="{{ url_for('queue_operations') }}">Queue</a></span>
                </div>
                <div class="square-grid-item-2">
                    <a href="{{ url_for('binary_tree') }}"><img src="/static/images/binary tree cover.png"
                            alt="Lab Act" /></a>
                    <span><a href="{{ url_for('binary_tree') }}">Binary Tree</a></span>
                </div>
                <div class="square-grid-item-3">
                    <a href="{{ url_for('graph') }}"><img src="/static/images/Graph.png" alt="Lab Act" /></a>
                    <span><a href="{{ url_for('graph') }}">Graph</a></span>
                </div>
                <div class="square-grid-item-4">
                    <a href="{{ url_for('bubble_sort') }}"><img src="/static/images/Sorting.png" alt="Lab Act" /></a>
                    <span><a href="{{ url_for('bubble_sort') }}">Sorting Algorithm</a></span>
                </div>
            </div>
            <!-- Lab Activities-2 -->


        </div>
        <div class="right-sidebar-bg">
            <div class="right-vertical-container">
                <div class="right-sidebar-content">
                    <h2>CODE</h2>
                </div>
                <div class="right-sidebar-content-img">
                    <img src="/static/images/dsa.png" alt="Data Structure Logo" class="right-sidebar-logo">
                </div>
                <div class="right-sidebar-content-2">
                    <h2>TUNES</h2>
                    <p><b>Lab Activities</b></p>
                </div>
                <div class="right-bottom-container">
                    <div class="right-sidebar-content-3">
                        <h3> Final Project</h3>
                    </div>
                    <div class="right-sidebar-content-img-rectangular">
                        <img src="/static/images/featured.png" alt="Rectangular Image"
                            class="right-sidebar-logo-rectangular">
                    </div>
                    <div class="right-sidebar-content-4">
                        <h3>Data Structures and Algorithm</h3>
                        <p> CMPE 201</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <image class="image-psuedoscode" src="/static/images/pseudoscode.png"></image>
        <image class="image-section" src="/static/images/section.png"></image>
        <image class="image-player" src="/static/images/player.png"></image>
        <image class="image-codetunes" src="/static/images/CodeTunes.png"></image>
    </div>
    </div>

</body>

</html>